$prin-green: #27ad60;
$prin-blue: #2c3e50;
$color: #fff;
$color2btn: #443e44;
$color-gris: #c1c1c1;
$tanger-link: #e67e22;
$pad-lg: 60px 0px;
$pad-s: 20px 0px;
$pad-xs: 10px 0px;
$pad-hd: 25px 0px;
$hoverwwd: #2a7257;
$marg-t: 100px;
$cafe: #8f5f38;

@mixin bgGreen{
	background-color: $prin-green;
	padding: $pad-lg;
	color: $color;
}

@mixin bgGreen-s{
	background-color: $prin-green;
	padding: $pad-s;
	color: $color;
}

@mixin bgBlue {
	background-color: $prin-blue;
	padding: $pad-lg;
	color: $color;
}

@mixin titles {
	text-align: center;
	color: $color;	
}
@mixin hrs {
		hr {
		width: 200px;
		border: 0.5px solid #fff;
	}
}
@mixin btn {
	button {
		background-color: $color2btn;
		color: $color;
	}
}
/* */

#header {
	@include bgGreen-s;
	.navbar {
		background-color: $prin-green;
	}
}

#beauty {
	@include titles;
	p {
		font-size: 25px;
	}
	.container {
		padding: $pad-lg;
	}
}

#pick {
	color: $color2btn;
	text-align: center;
	padding: $pad-lg;
}

#about {
	@include bgBlue;
	@include hrs;
	.s12 {
		text-align: center;
	}
	.percent {
		.progress {
		  background-color: $color-gris !important;
		}

		.progress .determinate {
		  background-color: $tanger-link !important;
		}
	}
	.agency {
		background: url(../img/agency-img3.jpg);
		height:500px;
		background-position:center;
		padding:30px;
		background-size:cover !important;
	}
}

#wwd {
	@include bgGreen;
	@include titles;
	@include hrs;
	@include btn;
	.s4 {
		p {
			color: $color-gris;
		}
		&:hover {
			background-color: $hoverwwd;
			h5 {
				color: $tanger-link;
			}
		}
	}
}
#team {
	@extend #wwd;
	span {
		color: $color2btn;
	}
	li {
		display: inline-block;
	}
	.s3 {
		p {
			color: $color-gris;
		}
		hr {
		border: 1px dashed #9e968f,
		}
	}
	.fa {
		margin-right:10px;
		color: $color-gris;
	}
}

#price {
	@include bgBlue;
	@include titles;
	@include hrs;
	@include btn;
	.rowtb {
		margin-top: $marg-t;
	}
	.tabla {
		border: 1px solid $prin-green;
		.tr {
			display: block;
			padding: $pad-xs;
		}
		.tres {
			background-color: $cafe;
		}
		.hd {
			padding: $pad-hd !important;
			color:$color-gris;
		}
		.uno {
			background-color: $prin-blue;
		}
		.dos {
			background-color: $color;
			color: $prin-blue;
		}
		.es {
			background-color: $prin-green;
			.big {
				font-size: 40px;
			}
			.small {
				font-size:10px;
			}
		}
		.fo {
			background-color: $prin-blue;
			padding: $pad-lg;
		}
		&:hover {
			border: 2px solid $tanger-link;
			position:relative;
			bottom:50px;
		}
	}
}

#clientsay {
	@extend #price;
	.quot {
		color: $color-gris;
	}
	span {
		color: $tanger-link;
	}
}
#contact {
	@extend #price;
}
#rrss {
	font-size:120px;
	color: $color;
	text-align: center;
	.cont-icos {
		padding:150px 0px;
	}
}
#footer {
	@include bgGreen-s;

	p {
		color: $color2btn;
	}
	a {
		display: inline-block;
		color: $color;
	}
}
