$prin-green: #27ad60;
$prin-blue: #2c3e50;
$color: #fff;
$color2btn: #443e44;
$color-gris: #c1c1c1;
$tanger-link: #e67e22;
$pad-lg: 60px 0px;
$pad-s: 20px 0px;

@mixin bgGreen{
	background-color: $prin-green;
	padding: $pad-lg;
	color: $color;
}

@mixin bgGreen-s{
	background-color: $prin-green;
	padding: $pad-s;
	color: $color;
}

@mixin bgBlue {
	background-color: $prin-blue;
	padding: $pad-lg;
	color: $color;
}

@mixin titles {
	text-align: center;
	color: $color;	
}
@mixin hrs {
		hr {
		width: 200px;
		border: 0.5px solid #fff;
	}
}
@mixin btn {
	button {
		background-color: $color2btn;
		color: $color;
	}
}
/* */

#header {
	@include bgGreen-s;
	.navbar {
		background-color: $prin-green;
	}
}

#beauty {
	@include titles;
	p {
		font-size: 25px;
	}
	.container {
		padding: $pad-lg;
	}
}

#pick {
	color: $color2btn;
	text-align: center;
	padding: $pad-lg;
}

#about {
	@include bgBlue;
	@include hrs;
	.s12 {
		text-align: center;
	}
	.percent {
		.progress {
		  background-color: $color-gris !important;
		}

		.progress .determinate {
		  background-color: $tanger-link !important;
		}
	}
	.agency {
		background: url(../img/agency-img3.jpg);
		height:500px;
		background-position:center;
		padding:30px;
		background-size:cover !important;
	}
}

#wwd, #team {
	@include bgGreen;
	@include titles;
	@include hrs;
	@include btn;
}

#wwd {
	p {
		color: $color-gris;
	}
}

#price, #clientsay, #contact {
	@include bgBlue;
	@include titles;
	@include hrs;
	@include btn;
}

#clientsay {
	.quot {
		color: $color-gris;
	}
	span {
		color: $tanger-link;
	}
}
#footer {
	@include bgGreen-s;

	p {
		color: $color2btn;
	}
	a {
		display: inline-block;
		color: $color;
	}
}
