#header {
	@include bgGreen-s;
	.navbar {
		background-color: $prin-green;
	}
	nav {
		box-shadow: none !important;
	}
}

#beauty {
	@include titles;
	p {
		font-size: 25px;
	}
	.container {
		padding: $pad-lg;
	}
}

#pick {
	color: $color2btn;
	text-align: center;
	padding: $pad-lg;
	.cuadrado {
		@include squad;
		&.a1 { @include bgcolor ($a1)};
		&.a2 { @include bgcolor ($a2)};
		&.a3 { @include bgcolor ($a3)};
		&.a4 { @include bgcolor ($a4)};
		&.a5 { @include bgcolor ($a5)};
		&.b1 { @include bgcolor ($b1)};
		&.b2 { @include bgcolor ($b2)};
		&.b3 { @include bgcolor ($b3)};
		&.b4 { @include bgcolor ($b4)};
		&.b5 { @include bgcolor ($b5)};
		&.c1 { @include bgcolor ($c1)};
		&.c2 { @include bgcolor ($c2)};
		&.c3 { @include bgcolor ($c3)};
		&.c4 { @include bgcolor ($c4)};
		&.c5 { @include bgcolor ($c5)};
		&.d1 { @include bgcolor ($d1)};
		&.d2 { @include bgcolor ($d2)};
		&.d3 { @include bgcolor ($d3)};
		&.d4 { @include bgcolor ($d4)};
		&.d5 { @include bgcolor ($d5)};
		&.e1 { @include bgcolor ($e1)};
		&.e2 { @include bgcolor ($e2)};
		&.e3 { @include bgcolor ($e3)};
		&.e4 { @include bgcolor ($e4)};
		&.e5 { @include bgcolor ($e5)};
	}
}

#about {
	@include bgBlue;
	@include hrs;
	.s12 {
		text-align: center;
	}
	.percent {
		.progress {
		  background-color: $color-gris !important;
		}

		.progress .determinate {
		  background-color: $tanger-link !important;
		}
	}
	.agency {
		background: url(../img/agency-img3.jpg);
		height:500px;
		background-position:center;
		padding:30px;
		background-size:cover !important;
	}
}

#wwd {
	@include bgGreen;
	@include titles;
	@include hrs;
	@include btn;
	.s4 {
		p {
			color: $color-gris;
		}
		&:hover {
			background-color: $hoverwwd;
			h5 {
				color: $tanger-link;
			}
		}
	}
}
#team {
	@extend #wwd;
	span {
		color: $color2btn;
	}
	li {
		display: inline-block;
	}
	.s3 {
		p {
			color: $color-gris;
		}
		hr {
		border: 1px dashed #9e968f,
		}
	}
	.fa {
		margin-right:10px;
		color: $color-gris;
	}
}

#price {
	@include bgBlue;
	@include titles;
	@include hrs;
	@include btn;
	.rowtb {
		margin-top: $marg-t;
	}
	.tabla {
		border: 1px solid $prin-green;
		.tr {
			display: block;
			padding: $pad-xs;
		}
		.tres {
			background-color: $cafe;
		}
		.hd {
			padding: $pad-hd !important;
			color:$color-gris;
		}
		.uno {
			background-color: $prin-blue;
		}
		.dos {
			background-color: $color;
			color: $prin-blue;
		}
		.es {
			background-color: $prin-green;
			.big {
				font-size: 40px;
			}
			.small {
				font-size:10px;
			}
		}
		.fo {
			background-color: $prin-blue;
			padding: $pad-lg;
		}
		&:hover {
			border: 2px solid $tanger-link;
			position:relative;
			bottom:50px;
		}
	}
}

#clientsay {
	@extend #price;
	.quot {
		color: $color-gris;
	}
	span {
		color: $tanger-link;
	}
}
#contact {
	@extend #price;
	.input-field {
		text-align: left;
	}
}
#rrss {
	font-size:120px;
	color: $color;
	text-align: center;
	.cont-icos {
		padding:150px 0px;
	}
}
#footer {
	@include bgGreen-s;
	@include btn;
	p {
		font-size: 12px;
	}
	.ftitle {
		text-align:center;
		hr {
			width:100px;
		}
	}
	.news {
		text-align:center;
		.material-icons {
			color: $tanger-link;
			padding:10px;
			background-color: $color2btn;
		}
		input {
			color: $color;
		}
	}
	.bkfo {
		p {
		color: $color2btn;
		}

		a {
		display: inline-block;
		color: $color;
		}
	}
}
