$prin-green: #27ad60;
$prin-blue: #2c3e50;
$color: #fff;
$color2btn: #443e44;
$color-gris: #c1c1c1;
$tanger-link: #e67e22;
$pad-lg: 60px 0px;
$pad-s: 20px 0px;
$pad-xs: 10px 0px;
$pad-hd: 25px 0px;
$hoverwwd: #2a7257;
$marg-t: 100px;
$cafe: #8f5f38;
$a1: #69d2e7;
$a2: #a7dbdb;
$a3: #e0e4cc;
$a4: #f38630;
$a5: #fa6900;
$b1: #e94c6f;
$b2: #542733;
$b3: #5a6a62;
$b4: #c6d5cd;
$b5: #fdf200;
$c1: #db3340;
$c2: #e8b71a;
$c3: #f7eac8;
$c4: #1fda9a;
$c5: #28abe3;
$d1: #588c73;
$d2: #f2e394;
$d3: #f2ae72;
$d4: #d96459;
$d5: #8c4646;
$e1: #d0c91f;
$e2: #85c4b9;
$e3: #008bba;
$e4: #df514c;
$e5: #dc403b;